/* GLOBAL */

a {
  color: black; 
}


a:link {
  text-decoration: none;
  color: black; 
}

.App {
  text-align: center;
}



/* HEADER COMPONENT AND ITS CHILD ELEMENTS */

#header_component{
min-height: 180px;
}

#header-container1{

  text-align: left;
  padding-top: 10px; 
  padding-bottom: 10px; 
  
}

#header-container2{

  float: left; 
  width: 100%; 
  padding-top: 10px; 
  padding-bottom: 10px; 
}

#header-container3{

  padding-top: 10px; 
  padding-bottom: 10px; 
  margin-bottom: 1px; 
  margin-top: 1px; 
  float: left; 
  width: 100%; 
}

#header_logo{
  width: 400px; 
  
}

#header-date{
  width: 20%; 
  float: left; 
  text-align: left;
}

#logo-container{
  width: 60%; 
  float: left; 
}

#header-weather{
  float: right; 
  width: 20%; 
}




#header-search-bar{
  text-align: left;
}

#header-login-logout{
  float: right; 
}


/* Footer COMPONENT AND ITS CHILD ELEMENTS */

#footer_component{
  border: 1px solid black; 
  min-height: 200px; 
}

/* HOME COMPONENT AND ITS CHILD ELEMENTS */

#home_component {
  background-color: #DDDDEE;
}

.headline_container{
  width: 100%; 
  min-height: 200px;

  border: 1px solid #000022;
}

.headline1 {

  float: left; 
}

.headline1_img{
  float: left; 
}

/* COMMENT COMPONENT AND ITS CHILD ELEMENTS */
.delete-modal{
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.delete-modal-content{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.comment_box {
  border: 1px solid black; 
  width: 400px; 
  min-height: 100px;
  padding: 20px; 
  margin: auto; 
}



/* GAMES COMPONENT AND ITS CHILD ELEMENTS */

#scramble_component{

}

.scramble_letter{
  background-color: #CCCCFF;
  font-size: 30px;
  border: 2px solid #444; 
  color: #444; 
  border-radius: 3px;
  width: 40px; 
  height: 40px; 
  text-align: center;
  float: left; 
}

.scramble_letter_correct {
  background-color: rgb(107, 196, 89); 
}

#guess_holder{
  width: 50%; 
  margin: auto; 
  text-align: center;
}

.guess{
  overflow: hidden;
  display: inline-block; 
  margin: auto; 
}