/* 


#FF5E5B ORange Red
  #9B3B3A Darker reddish brown 
#D8D8D8 Light grey
  #9d9d9d Medium grey
  #5f5f5f dark grey 
#FFFFEA Ivory
#00CECB Robin egg blue
  #017B79 Darker teal 
#FFED66 Yellow
  #B6AA4B Dark gold

*/

/* GLOBAL */

body {
  color: #ddd;
  background-color: #222;
}

a {
  color: #ddd; 
  
}

a:link {
  color: #ddd; 
}


input{
  border-radius: 5px;
}

hr {
  border: 1px solid #333; 
  width: 80%;
 
}

a:link {
  text-decoration: none;
  color: black; 
}

.App {
  text-align: center;
}

button{
  background-color: #01e2de;
  color:#025d5b;
  border: 1px solid #017B79; 
  padding-top:5px;
  padding-bottom: 5px;
  border-radius:5px;
  font-size: 11pt;


}

/* HEADER COMPONENT AND ITS CHILD ELEMENTS */

#main_header{
  font-family: 'Roboto Slab', serif; 
  font-size: 36pt;
  margin-bottom: 0px;
  font-weight: 900;
}

#header_component{
min-height: 180px;
border-bottom: 5px double #333; 
}

#header-container1{

  text-align: left;
  padding-top: 10px; 
  padding-bottom: 10px; 
  
}

#header-container2{

  float: left; 
  width: 100%; 
  padding-top: 10px; 
  padding-bottom: 10px; 
}

#header-container3{

  padding-top: 10px; 
  padding-bottom: 10px; 
  margin-bottom: 1px; 
  margin-top: 1px; 
  float: left; 
  width: 100%; 
}

#header_logo{
  width: 400px; 
  
}

#header-date{
  width: 20%; 
  float: left; 
  text-align: left;
}

#logo-container{
  width: 60%; 
  float: left; 
}

#header-weather{
  float: right; 
  width: 20%; 
}

#header-search-bar{
  text-align: left;
}

#header-login-logout{
  float: right; 
}


/* Footer COMPONENT AND ITS CHILD ELEMENTS */

#footer_component{
  background-color: #4f708b; 
  min-height: 10vh;
  justify-content: center;
  color: white;
  text-align:center; 
  padding: 20px; 
  line-height: 22pt;

}

/* HOME COMPONENT AND ITS CHILD ELEMENTS */

#home_component {
  background-color: #333344;
}

.headline_container{
  width: 100%; 
  min-height: 200px;

  border: 1px solid #000022;
}

.headline1 {

  float: left; 
}

.headline1_img{
  float: left; 
}

/* COMMENT COMPONENT AND ITS CHILD ELEMENTS */

.delete-modal{
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.delete-modal-content{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.comment_box {
  border: 1px solid black; 
  width: 400px; 
  min-height: 100px;
  padding: 20px; 
  margin: auto; 
}


/* GAMES COMPONENT AND ITS CHILD ELEMENTS */


#games_links_holder{
  width: 100%; 
  text-align: center;
}

.game_card{
  width: 250px;
  border: 1px solid black; 
  border-radius: 5px;
  margin-right: 10px; 
  margin-left: 10px; 
  display: inline-block;
  font-family: 'Roboto Slab', serif; 
  padding-top: 35px; 
  height: 150px; 
  font-size: 18pt; 
  font-weight: 900;
  background-color: white;
  color: #222;
}

.game_cta_top{

}

#word_search_cta_top{
  background-color: #00CECB;
}

#scramble_cta_top{
  background-color: #FFED66;
}

.play_button{
  border: 1px solid #ffff;
  padding: 10px; 
  border-radius: 10px;
  background-color: #D8D8D8;


}

@media only screen and (max-width: 600px) {
  .game_cta {
    width: 100%
  }
}

.scramble_letter{
  background-color: #D8D8D8;
  font-size: 30px;
  border: 2px solid #444; 
  color: #444; 
  border-radius: 3px;
  width: 40px; 
  height: 40px; 
  text-align: center;
  float: left; 
}

.scramble_letter_correct {
  background-color: rgb(107, 196, 89); 
}

.scramble_letter_warm {
  background-color: yellow; 
}

#guess_holder{
  width: 50%; 
  margin: auto; 
  text-align: center;
}

.guess{
  overflow: hidden;
  display: inline-block; 
  margin: auto; 
}

.new_game{
  background-color: #EEEEFF;
  width: 100px; 
  height: 50px; 
  font-size: 12pt; 
  border-radius: 4px;
}

#wordSearchTable{
  width: 500px; 
  margin: auto;
  font-size: 16pt;
  border: 2px solid #999; 
  border-radius: 5px;
  padding: 20px; 
   
}

/* WEATHER COMPONENT AND ITS CHILD ELEMENTS */
.dynamic_span{
  font-size: 18pt;
  font-weight:600; 
}
