/* 


#FF5E5B ORange Red
  #9B3B3A Darker reddish brown 
#D8D8D8 Light grey
  #9d9d9d Medium grey
  #5f5f5f dark grey 
#FFFFEA Ivory
#00CECB Robin egg blue - change to #9ecccc;
  #017B79 Darker teal 
#FFED66 Yellow
  #B6AA4B Dark gold

*/

/* GLOBAL */

body {
  color: #ddd;
  background-color: #222;
}

h1{
  color: #ddd;
}

a {
  color: #ddd; 
}

a:link {
  color: #9ecccc;
}

a:visited {
  color: #9ecccc;
}

.body_link{
  color: #9ecccc;
}

input{
  border-radius: 5px;
}

hr {
  border: 1px solid #333; 
  width: 80%;
 
}

a:link {
  text-decoration: none;
  color: #9ecccc; 
}

.App {
  text-align: center;
}

button{
  background-color: #9ecccc;
  color:#394e4e;
  border: 1px solid #394e4e;
  padding-top:5px;
  padding-bottom: 5px;
  border-radius:5px;
  font-size: 11pt;
}

.submit_btn {
  background-color: #9ecccc;
  color:#394e4e;
  border: 1px solid #394e4e;
  padding-top:5px;
  padding-bottom: 5px;
  border-radius:5px;
  font-size: 11pt;
}

.main_component_holder{
  min-height: 65vh;
  overflow: auto;
}

@media only screen and (max-width: 800px) {
  .main_component_holder{
    min-height: 65vh;
    overflow: auto;
    width: 100%;
    margin: auto;
  }
}

/* HEADER COMPONENT AND ITS CHILD ELEMENTS */

#main_header{
  font-family: 'Roboto Slab', serif; 
  font-size: 36pt;
  margin-bottom: 0px;
  font-weight: 900;
  margin: auto;
}

#header_component{
min-height: 200px;
border-bottom: 5px double #333; 
}

#header-container1{
  text-align: left;
  padding-top: 10px; 
  padding-bottom: 10px; 
}

#header-container2{

  float: left; 
  width: 100%; 
  padding-top: 10px; 
  padding-bottom: 10px; 

}

#header-container3{

  padding-top: 10px; 
  padding-bottom: 10px; 
  margin-bottom: 1px; 
  margin-top: 1px; 
  float: left; 
  width: 100%; 
}

#header_logo{
  width: 400px; 
  
}

#header-date{
  width: 20%; 
  float: left; 
  text-align: left;
  padding-left: 10px;
}

#logo-container{
  width: 60%; 
  float: left; 
}

#header-weather{
  float: right; 
  width: 20%; 
  text-align: right;
  padding-right: 10px;
}

#header-search-bar{
  text-align: left;
}

#header-login-logout{
  float: right; 
  width:20%;
  text-align: right;
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {
  #header-container1{
    text-align: center;
    padding-top: 10px; 
    padding-bottom: 10px; 
    width: 100%;
    float: left;
   
  }
  #header-container2{
    text-align: center;
    padding-top: 10px; 
    padding-bottom: 10px; 
    width: 100%;
    float: none;
    
  }
  #header-container3{
    text-align: center;
    padding-top: 10px; 
    padding-bottom: 10px; 
    width: 100%;
    float: none;
  }

  #header-login-logout{
    float: none;
    width:20%;
    margin: auto;
    text-align: center;
    padding-right: 10px;
  }

  #header-date{
    width: 100%; 
    float: none; 
    text-align: center;
  }

  #header-weather{
    width: 100%; 
    float: none; 
    text-align: center;
  }
  

}



/* Footer COMPONENT AND ITS CHILD ELEMENTS */

#footer_component{
  background-color: #FF5E5B; 
  min-height: 12vh;
  justify-content: center;
  color: white;
  text-align:center; 
  padding: 20px; 
  line-height: 22pt;
  padding-top: 6vh;

}

/* HOME COMPONENT AND ITS CHILD ELEMENTS */

#home_component {
 max-width: 1300px;
 margin: auto;
}

.headline_container{
  width: 100%; 
  min-height: 100px;
  float: left; 
}

.more_news{
  width: 100%; 
  min-height: 50px;
  float: left; 
  font-size: 18pt;
}

.headlines_and_img{
  overflow: auto;
}

.headline_container_vertical{
  width: 50%; 
  min-height: 200px;
  float: left; 
 
}

.home_img_holder{
  width: 40%;
  height: 40%;
  float: left;
  padding: 10px;
 
} 

.headline1_img{
  float: none; 
  width: 80%;
  height: 80%;
  object-fit: cover;
  border: 2px solid #111;
  border-radius: 5px;
}

.home_img_holder p{
  float: none;
  width: 80%;
  margin:auto;
  margin-top: 0px;
  border: 2px solid #444;
  font-size: 9pt;
   
}

.home_img_holder p a{
  color: #9ecccc;
}


.headline1 {
  float: left; 
  text-align: left;
}

.headline2 {
  text-align: left;
  float: left; 
}
.headline_style_2 {
  text-align: left;
  float: left; 
  width: 30%;
  font-size: 10pt;
  padding: 10px;
}

@media only screen and (max-width: 800px) {
  .headline_container{
    width: 100%; 
    float: none; 
  }
  
  .more_news{
    width: 100%; 
    float: none; 
    font-size: 18pt;
  }
  
  .headlines_and_img{
    overflow: hidden;
  }
  
  .headline_container_vertical{
    width: 100%; 
    float: none; 
  }
  
  .home_img_holder{
    width: 100%;
    height: 100%;
    float: none;
  } 
  
  .headline1_img{
    float: none; 
  }
  
  .headline1 {
    float: none; 
    text-align: left;
  }
  
  .headline2 {
    text-align: left;
  }
  .headline_style_2 {
    float: none; 
    width: 100%;
    font-size: 10pt;

  }
}

/* COMMENT COMPONENT AND ITS CHILD ELEMENTS */

.delete-modal{
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}


.delete-modal-content{
  background-color: #fefefe;
  margin: 40vh auto; /* 15% from the top and centered */
  height: 20vh;
  padding: 20px;
  border: 1px solid #888;
  width: 20%; 
  color: #333;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.comment_box {
  width: 600px; 
  min-height: 100px;
  padding-top: 20px; 
  padding-bottom: 20px; 
 
  /* margin: auto;  */
}



@media only screen and (max-width: 600px) {
  .comment_box {
    width: 270px; 
    min-height: 100px;
  }
}

.comment_edit_box{
  width: 400px; 
  min-height: 100px;
}


/* GAMES COMPONENT AND ITS CHILD ELEMENTS */


#games_links_holder{
  width: 100%; 
  text-align: center;
}

.game_card{
  width: 250px;
  border: 1px solid black; 
  border-radius: 5px;
  margin-right: 10px; 
  margin-left: 10px; 
  display: inline-block;
  font-family: 'Roboto Slab', serif; 
  padding-top: 35px; 
  height: 150px; 
  font-size: 18pt; 
  font-weight: 900;
  background-color: white;
  color: #222;
}

.game_cta_top{

}

#word_search_cta_top{
  background-color: #9ecccc;
}

#scramble_cta_top{
  background-color: #FFED66;
}

.play_button{
  border: 1px solid #ffff;
  padding: 10px; 
  border-radius: 10px;
  background-color: #D8D8D8;


}

@media only screen and (max-width: 600px) {
  .game_cta {
    width: 100%
  }
}

.scramble_letter{
  background-color: #D8D8D8;
  font-size: 30px;
  border: 2px solid #444; 
  color: #444; 
  border-radius: 3px;
  width: 40px; 
  height: 40px; 
  text-align: center;
  float: left; 
}

.scramble_letter_correct {
  background-color: rgb(107, 196, 89); 
}

.scramble_letter_warm {
  background-color: yellow; 
}

#guess_holder{
  width: 50%; 
  margin: auto; 
  text-align: center;
}

.guess{
  overflow: hidden;
  display: inline-block; 
  margin: auto; 
}

.new_game{
  background-color: #EEEEFF;
  width: 100px; 
  height: 50px; 
  font-size: 12pt; 
  border-radius: 4px;
}

#wordSearchTable{
  width: 500px; 
  margin: auto;
  font-size: 16pt;
  border: 2px solid #999; 
  border-radius: 5px;
  padding: 20px; 
   
}

/* WEATHER COMPONENT AND ITS CHILD ELEMENTS */
.dynamic_span{
  font-size: 18pt;
  font-weight:600; 
}

/* ARTICLE COMPONENT AND ITS CHILD ELEMENTS */

#article_component {
  max-width: 800px;
  margin: auto;
  text-align: left;
}

#article_component p {
  font-size:14pt;
}

#comment_textarea{
  width: 400px;
  height: 200px;
}

.publication_note{
 
  color: #9ecccc;
}

.publication_note a{
  color: #9ecc9e;
}

/* ABOUT COMPONENT AND ITS CHILD ELEMENTS */
#about_component{
  max-width: 1100px;
  margin: auto;
  text-align: left;
}

#about_component h2{
  text-align: center;
}

#about_component a{
  color: #9ecccc;
}